<div class="container mt-2">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb mt-2" *ngFor="let item of menuItems | async ; let i=index">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{ item.name | titlecase }}</mat-card-title>
                    <mat-card-subtitle>{{ item.detalle | titlecase }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="item.img" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        {{ item.descripcion }}
                    </p>
                </mat-card-content>
                <mat-card-actions>

                    <button mat-button><a class="nav-link" [routerLink]="item.redirectTo">{{ item.name }}</a></button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
<hr>