/* You can add global styles to this file, and also import other style files */

.back_rojo {
    background-color: red !important;
}

.back_amarillo {
    background-color: #E2E4AF;
}

.back_gris {
    background-color: #D9EFF2;
}

.back_green {
    background-color: #99DD98;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}