/* You can add global styles to this file, and also import other style files */

.back_rojo {
    background-color: #11AAE3 !important;
}

.back_amarillo {
    background-color: #E2E4AF;
}

.back_gris {
    background-color: #cfd186;
}

.back_dark {
    background-color: #413C39;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}