<mat-toolbar color="primary">
    {{ juegoNombre }}
</mat-toolbar>

<div class="row bg-info">
    <div class="col-sm-12 p-3">
        <span class="d-block p-2 bg-info text-white">
            <div *ngIf="show">
                <h1>Tenes 5 segundos :</h1>
            </div>
            <div *ngIf="!show">
                <h1>{{ respuesta }}, el resultado es : {{ this.result }}</h1>
            </div>
        </span>
    </div>
</div>

<div class="row bg-info p-3">
    <div class="col-sm">
        <mat-card class="cuadro">
            <form class="example-form">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input type="text" [(ngModel)]="numero1" [ngModelOptions]="{standalone: true}" id="numeroIngresado" name="numeroIngresado" matInput>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>
        </mat-card>
    </div>
    <div class="col-sm">
        <mat-card class="cuadro">
            <form class="example-form">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input type="text" [(ngModel)]="operacion" [ngModelOptions]="{standalone: true}" id="numeroIngresado" name="numeroIngresado" matInput>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>
        </mat-card>
    </div>
    <div class="col-sm">
        <mat-card class="cuadro">
            <form class="example-form">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input type="text" [(ngModel)]="numero2" [ngModelOptions]="{standalone: true}" id="numeroIngresado" name="numeroIngresado" matInput>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>
        </mat-card>
    </div>
    <div class="col-sm">
        <mat-card class="cuadro">
            <form class="example-form">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input type="number" [(ngModel)]="rtaIngresada" [ngModelOptions]="{standalone: true}" id="numeroIngresado" name="numeroIngresado" matInput>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>
        </mat-card>
    </div>
</div>

<div class="row bg-info p-2">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <section>
            <div class="example-button-row">
                <button mat-raised-button color="accent" (click)="reiniciar()" [disabled]="disabledButton">Iniciar</button>
                <button mat-raised-button color="accent" (click)="reiniciar()" [disabled]="disabledButton">Reiniciar</button>
            </div>
        </section>
    </div>
    <div class="col-sm-3"></div>
</div>