.cuadro {
    height: 25rem;
    display: flex;
    align-items: center;
    background-color: grey;
    font-size: xx-large;
}

img {
    width: 200px;
    height: 200px;
}

.card {
    margin: auto;
    max-width: 300px;
}

section {
    display: table;
    margin: 8px;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    width: 120px;
}

.example-button-row {
    display: table-cell;
}

.example-button-row button {
    display: table-cell;
    margin-right: 8px;
}

.col {
    justify-content: center;
}