.jumbotron {
    background-image: url("../../../assets/trama.jpg");
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 250%;
    font-weight: bold;
    color: greenyellow;
    text-shadow: 0.1em 0.1em red;
}