.jumbotron {
    background-image: url("../../../assets/trama.jpg");
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 5px #999;
    color: white;
    font-weight: bold;
}