.jumbotron {
    background-image: url("../../../assets/trama.jpg");
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 350%;
    font-weight: bold;
    color: white;
    text-shadow: 0.05em 0.05em red;
}

.text-responsive {
    font-size: calc(1em + 1vw);
    line-height: 45px;
}

@media screen and (min-width: 601px) {
    div.text-responsive {
        font-size: 60px;
    }
}

@media screen and (max-width: 600px) {
    div.text-responsive {
        font-size: 20px;
    }
}