.jumbotron {
    background-image: url("../../../assets/trama.jpg");
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.8);
    filter: brightness(0.8);
    color: white;
    font-weight: bold;
}