.jumbotron {
    background-image: url("../../../assets/trama.jpg");
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.8);
    filter: drop-shadow(5px 5px 10px #444);
    color: white;
    font-weight: bold;
}