<div class="jumbotron">
    <div class="text-responsive">
        <div class="container">
            <p>SALA DE JUEGOS</p>
            <p>Daniel de Brito 4B </p>
            <br>
            <P>TP Nro 1 Laboratorio IV UTN FRA</P>
        </div>
    </div>
</div>

<mat-toolbar>
    Tecnologias :
</mat-toolbar>



<div class="container p-3">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Angular 10</h2>

            <a href="https://angular.io/" target="_blank" role="button"><img src="/assets/logos/angular.png" alt="" srcset=""></a>
        </div>
        <div class="col-md-4">
            <h2>Firebase</h2>
            <a href="https://firebase.google.com/?hl=es" target="_blank" role="button"><img src="/assets/logos/firebase.png" alt="" srcset="">
            </a>
        </div>
        <div class="col-md-4">
            <h2>Typescript</h2>
            <a href="https://www.typescriptlang.org/" target="_blank" role="button"><img src="/assets/logos/typescript.png" alt="" srcset="">
            </a>
        </div>
    </div>
</div>

<div class="container p-3">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Angular Material</h2>
            <a href="https://material.angular.io/" target="_blank" role="button"><img src="/assets/logos/material.png" alt="" srcset="">
            </a>
        </div>
        <div class="col-md-4">
            <h2>GitHub</h2>
            <a href="https://github.com/danieldebrito?tab=repositories" target="_blank" role="button"><img src="/assets/logos/github.png" alt="" srcset="">
            </a>
        </div>
        <div class="col-md-4">
            <h2>Heroku</h2>
            <a href="https://saladejuegos2.herokuapp.com" target="_blank" role="button"><img src="/assets/logos/heroku.png" alt="" srcset="">
            </a>
        </div>
    </div>
</div>