/* You can add global styles to this file, and also import other style files */

.back_rojo {
    background-color: #515070 !important;
}

.back_naranja {
    background-color: #ff8e6e;
}

.back_gris {
    background-color: #f6f6f6;
}

.back_dark {
    background-color: #413C39;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
